@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  background-color: #1a1a1a;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;

  --primary-color: #ff3030;
  --text-color: #fff;
  --textcolor-sub: #ddd;
  --site-background: #1a1a1a;
}

.nav {
  height: 5rem;
  background-color: var(--site-background);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-size: 0.8rem;
  text-align: center;
}

.nav-item,
.link,
.copyright {
  color: var(--text-color);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;

  transition: all 0.2s ease-in-out;
}

.nav-item:hover,
.link:hover {
  color: var(--primary-color);
}

.section-hero {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(resources/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: calc(100vh - 5rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.heading-main {
  margin: 0 0 1rem 0;
  color: var(--text-color);
  font-family: "Lobster", sans-serif;
  font-size: 3rem;
  line-height: 3rem;
}

.sub-text {
  color: var(--textcolor-sub);
  font-size: 1.5em;
  margin-top: 1em;
}

.hero-btn {
  margin-top: 3em;
  padding: 20px;
  background-color: var(--primary-color);
  color: var(--text-color);
  border: solid 1px var(--primary-color);
  text-decoration: none;

  transition: all 0.2s ease-in-out;
}

.hero-btn:hover {
  background-color: transparent;
  color: var(--primary-color);
}

.container {
  max-width: 85%;
  margin: 0 auto;
}

.section-about {
  display: grid;
  gap: 2rem;
  background-color: var(--site-background);
}

.about-content {
  display: flex;
  flex-direction: column;
}

.heading-about,
.heading-opening,
.heading-contact {
  margin: 2rem 0 1rem 0;
  width: fit-content;
  text-transform: uppercase;
  color: var(--text-color);
  letter-spacing: 0.1rem;
  border-bottom: 1px solid var(--primary-color);
}

.about-paragraph {
  font-size: 0.9rem;
  color: var(--textcolor-sub);
}

.button,
.button-inverted {
  width: fit-content;
  margin-top: 1.5em;
  padding: 20px;
  background-color: var(--primary-color);
  color: var(--text-color);
  border: solid 1px var(--primary-color);
  text-decoration: none;

  transition: all 0.2s ease-in-out;
}

.button-inverted {
  background-color: transparent;
  color: var(--primary-color);
}

.button:hover {
  background-color: transparent;
  color: var(--primary-color);
}

.button-inverted:hover {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.about-img-container {
  width: 100%;
  display: flex;
  gap: 0.5rem;
}

.about-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-img-large {
  min-width: 50%;
}

.about-imgs-small {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.section-opening {
  margin: 3rem 0;
  padding: 2rem 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(resources/info.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.opening-hours {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  width: 100%;
  color: var(--text-color);
}

.hours-entry {
  width: 15rem;
  display: flex;
  justify-content: space-between;
}

.days {
  color: var(--textcolor-sub);
}

.contact-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.section-contact .heading-contact {
  margin-top: 0;
}

.address {
  margin-top: 0.5rem;
  color: var(--textcolor-sub);
}

.contact-image {
  width: 100%;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
  padding: 2rem 1rem;
  font-size: 0.8rem;
  text-align: center;
  background-color: #333333;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.copyright {
  margin-top: 1rem;
  color: var(--textcolor-sub);
}

@media only screen and (min-width: 600px) {
  .heading-main {
    font-size: 4rem;
    line-height: 4rem;
  }

  .sub-text {
    font-size: 1.5rem;
  }

  .hero-btn {
    padding: 1.2rem 2.5rem;
  }

  .nav,
  .links {
    gap: 20px;
    font-size: 1rem;
  }

  .about-paragraph {
    font-size: 1rem;
  }

  .contact-content {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .contact-image {
    width: 60%;
  }

  .footer {
    margin-top: 4rem;
    padding: 3rem 0;
    gap: 3rem;
  }
}

@media only screen and (min-width: 1000px) {
  .nav,
  .links {
    gap: 4rem;
  }

  .heading-main {
    font-size: 6rem;
    line-height: 6.5rem;
  }

  .section-about {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-top: 6rem;
  }

  .about-img-container {
    gap: 1rem;
  }

  .about-imgs-small {
    gap: 1rem;
  }

  .opening-hours {
    margin-top: 2rem;
  }

  .heading-opening {
    font-size: 2rem;
  }

  .hours-entry {
    width: 20rem;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }

  .section-contact .heading-contact {
    margin-bottom: 2rem;
  }

  .address {
    margin-top: 1rem;
    font-size: 1.2rem;
  }

  .buttons {
    flex-direction: row;
    gap: 2rem;
  }

  .contact-image {
    width: 50%;
  }

  .links {
    flex-direction: row;
  }
}

@media only screen and (min-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}
